<div class="container mt-4">


  <h2 class="text-center"> Login to author account </h2>

  <form class="col-6 mx-auto" #loginForm="ngForm">

    <input ngModel name="email"  type="text" class="form-control m-1" placeholder="email" required>
    <input ngModel name="password"  type="password" class="form-control m-1" placeholder="password" required>

    <div *ngIf="showAlert" class="bg-red-100 px-4 py-3 m-1 rounded" role="alert" style="background-color:red;">
      <span class="text-white">Please fill all required fields correctly</span>
    </div>
    <div *ngIf="showAuthError" class="bg-red-100 px-4 py-3 m-1 rounded" role="alert" style="background-color:red;">
      <span class="text-white">Invalid email or password</span>
    </div>

    <button (click)="login(loginForm)" class="btn btn-dark form-control m-1">Login</button>


  </form>

</div>
<!-- start of footer -->
